.cooldivbro {
    background-color:#e8e8e8; 
    width: 100%; 
    height:100%; 
    padding-top: 0px;
}

.menubutton {
    background: rgb(28, 184, 65);
    color: white;
    border-radius: 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 300%;
    display: block;
}

.red {
    background: rgb(202, 60, 60);
    color: white;
    border-radius: 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 300%%;
    display: block;
}

.yellow {
    background: rgb(223, 117, 20);
    color: white;
    border-radius: 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 300%%;
    display: block;
}

.blue {
    background: rgb(66, 184, 221);
    color: white;
    border-radius: 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 300%%;
    display: block;
}

.maroon {
    background: rgb(0, 68, 204);
    color: white;
    border-radius: 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 300%%;
    display: block;
}

.green {
    background: rgb(28, 184, 65);
    color: white;
    border-radius: 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 300%%;
    display: block;
}

.answerbutton {
    background: rgb(28, 184, 65);
    color: white;
    border-radius: 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 300%;
    display: block;
}

.correctanswerbutton {
    background: rgb(86, 54, 109) !important;
    border-radius: 10px;
    box-shadow:0px 0px 20px #fff;
    border: 2.5px white solid;
    font-weight:normal;
}

.wronganswerbutton {
    background: rgb(163, 172, 209);
    border-radius: 10px;
    box-shadow:0px 0px 20px #fff;
    border: 2.5px white solid;
    font-weight:normal;
}

.menudiv {
    background-color: #7AC5CD;
    color: black;
    font-size: 200%;
}

.question {
    font-size: 300%;
    font-weight: bold;
    font-family: "proxima-nova",sans-serif;
    padding:10px;
    margin: 0 10px 30px 10px;
}

#rulesofthegame {
    border:1px solid #000;
    /*box-shadow:0px 0px 20px #000;*/
    text-align:left;
    border-radius:20px;
    font-weight: normal;
    font-size: 200%;
}

.invisible {
    visibility:hidden;
}

#gamenav {
    position: absolute; 
    bottom: 0px; 
    width:100%; 
    display: none;
}